In [1]:
import pandas as pd
import scipy.stats as stats

In [4]:
data = pd.read_csv('Testing_Of_Hypothesis.csv')
data.head()

   Sr No S_Cust_id  Samsung Score Apple_Cust_id  Apple_Score
0      1   S336499             94       A336525           82
1      2    S73004             99        A73011           83
2      3    S79537             74        A79538           88
3      4   S769168             74       A769222           80
4      5   S609791             83       A609801           74

In [5]:
data['Samsung Score'].mean()

84.9

### 1. The Samsung Average customer satisfaction score is minimum 75%.

Step 1: Define the hypothesis:
        Ho: samsung customer satisfaction score == 75 
        Ha: samsung customer satisfaction score > 75 
            
step-2: Statistical Test: 1 sample t test because we are comparing one continous variables with hypotheised value.

In [6]:
# Step 3 : Perform one sample T-Test

test = stats.ttest_1samp(a = data['Samsung Score'], popmean= 75)
test

Ttest_1sampResult(statistic=8.358287450922418, pvalue=4.0739777034636007e-13)

In [9]:
print("The T Score is {} and the p value is {}".format(test[0],test[1]))

The T Score is 8.358287450922418 and the p value is 4.0739777034636007e-13

In [10]:
#Step 4: Check the significance of p value
test[1] > 0.05

# Since the p value is less than confidense interval, we reject the NULL Hypothesis.

False

Conclusion: We can conclude that Samsung Average customer satisfaction score is more than 75%

### 2. The overall average satisfaction score of Samsung is same as Apple. There is no significant difference in the satisfaction scores.

Step 1: Define the hypothesis:
        Ho: Average satisfaction score of Samsung == Average satisfaction score of Apple
        Ha: Average satisfaction score of Samsung <> Average satisfaction score of Apple
            
step-2: Statistical Test: 2 sample t test because we are comparing 2 continous variables.

In [13]:
#Step 3: Perform 2 sample T- Test:
test2 = stats.ttest_rel(a = data['Samsung Score'], b = data['Apple_Score'])

print("The T Score is {} and the p value is {}".format(test2[0],test2[1]))

The T Score is -1.9015800946572132 and the p value is 0.06013359092250469

In [15]:
#Step 4: Check the significance of p value
test2[1] > 0.05

# Since the p value is greater than confidense interval, we fail to reject the NULL Hypothesis

True

Conclusion: We can conclude that Average satisfaction score of Samsung is same as of Average satisfaction score of Apple.